/*import '....'*/
@import url("menus-small.css") all and (max-width:500px);
@import url("menus-med.css") all and (min-width: 501px) and (max-width: 979px);
@import url("menus-large.css") all and (min-width:980px);


.main-menu{list-style-type: none;}
.sub-menu{list-style-type: none;}


/*MAIN-BURGER-MENU------------------------------*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
}
/* Color/shape of burger icon bars */
.light .bm-burger-bars{
  background: white;}
.dark .bm-burger-bars{
  background-color: #696969;}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {background: #a90000;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height: 24px;width: 24px;display:none;}
/* Color/shape of close button cross */
.bm-cross {background: #bdc3c7;}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {position: fixed;height: 100%;}
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1em 1em 0 0.8em; /* left-pad added*/
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill: #373a47;}
/* Wrapper for item list */
.bm-item-list {color: #b8b7ad;padding: 0em; /*changed from 0.8*/}
/* Individual item */
.bm-item {display: inline-block;}
/* Styling of overlay */
.bm-overlay {background: rgba(0, 0, 0, 0.3);}

.about-menu{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin:3%;
  margin-bottom:1%;
}
.about-menu .left-items{display:flex;justify-content: center;align-items: flex-start;}
.about-menu .right-items{display:flex;justify-content: center;align-items: flex-start;}
.about-menu-item{margin:1vw;flex:160px 0 0;min-width: 160px;max-width: 160px;}
