.not-ss{display:none;}

/*MAIN-MENU------------------------------*/
.main-menu{
  min-height:40vh;
  max-height:80vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.main-menu-item{height:100%;white-space: nowrap;text-decoration: none;font-size:1.1rem;}
.main-menu-item:hover{cursor:pointer}
.main-menu-item.logo-cont{flex:9vh 1 1; min-height:9vh;max-height:12vh;width:120px;padding:5%;
 align-self: center;}
.main-menu-item.logo-cont img{width:100px;height:auto;/*scale down*/}
/*sizes*/
.main-menu-item.large{flex:30vh 1 1;
  display:flex;flex-direction: column;align-items: flex-start;justify-content: center;}
.main-menu-item.other{flex:7vh 1 1;}


.sub-menu{flex:175px 1 1; width:100%;margin-top: 15px;
  flex-wrap:no-wrap;transition:flex 0ms ease-in 0ms;align-self:center;
  display:flex;flex-direction: column;align-items: flex-end;overflow:hidden; background: #373a47;}
/*children of menu-items*/
.sub-menu-item{
  flex:30px 1 0;max-height: 30px; width:80px;padding-top:0;margin-left:20px;margin-top: 5px;margin-bottom: 5px;font-size:1rem;
}
.sub-menu-item:hover{cursor:pointer}

/*children of dashboard main-menu*/
.dashboard-menu .menu-cross{margin-left:5px;position:absolute;bottom:0px;}

.group-menu{
  display:flex; justify-content:flex-start;flex-wrap:wrap;
}


