.not-ls{display:none;}

/*child of main-menu-cont*/
.page .header .menus-cont .main-menu{
  flex:100% 0 0;min-height:100%;
  display:inline-flex;justify-content: flex-end;align-items: center;}

.main-menu-item{padding:0px;margin-left:15px;margin-right:15px;margin-top:0;margin-bottom:0;white-space: nowrap;font-size:1rem;
 text-decoration: none;}
.main-menu-item.last-item{margin-right:0;}
.main-menu-item:hover{cursor:pointer}

.page .header .menus-cont .sub-menu{
  flex:60px 0 0;min-height:60px;display:flex;justify-content: flex-end;align-items: center;z-index:1;}
.sub-menu-item{padding:0px;margin: 5px;margin-left:10px;margin-right:10px;text-decoration: none;font-size:1rem;}

.group-menu{
  display:flex; justify-content:center;
}
