/*import '....'*/

@import url("dashboard-small.css") all and (max-width:500px);
@import url("dashboard-med.css") all and (min-width: 501px) and (max-width: 979px);
@import url("dashboard-large.css") all and (min-width:980px);
	
/*GENERAL SETTINGS-------------*/
/*buttons*/
.btn:hover{cursor: pointer;}
.dashboard button{background-color: transparent;color:white;border:solid;
	border-color: white;border-width: thin;font-size: 0.6rem;}
/*button overides*/
.dashboard button.active{background-color: #ffa530;}
.dashboard button.show-ctrls{border:none;}

.dashboard .hide{display:none;opacity:0;}
.dashboard .show{display:initial;opacity:1;transition: opacity 200ms ease-in 0ms;} 


