/*import '....'*/
/*COMPONENTS NOT FOR SS
specificity matters so need to say ctrls.not-ss*/
.dashboard .ctrls.not-ss{display:none;}


/*dashboard----------------------------------------------------*/
.dashboard{
	display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{
	height:calc(100vh - 70px);
	display: flex; align-items: stretch;flex-direction: column-reverse}



/*CHILDREN OF SVG-WRAPPER*/
.dashboard .svg-wrapper .show-ctrls{ position:absolute;top:0;left:0;}

.dashboard .ctrls{
	 height:0;display:flex;flex-direction: column-reverse;
	transition: height 500ms ease-in 0ms;overflow:hidden;}
.dashboard .ctrls.open{height:110px;padding:1vw;}

.dashboard .svg-wrapper .svgs-outer-cont{
	flex:70% 3 1;max-height:calc(100vh - 70px); overflow:auto;
 	display:flex;justify-content: center;
	transition: all 500ms ease-in 0ms;}

.dashboard .svg-wrapper .svgs-inner-cont{
	transition: all 500ms ease-in 0ms;display:flex;width:95%;}




/*CHILDREN OF CTRLS-CONT*/
.dashboard .ctrls .opt-grps{
	display:flex; justify-content: flex-start; list-style: none;

}
.dashboard .ctrls .opts{
	display:flex;justify-content: center;list-style: none;
}
.dashboard .ctrls .opts.open{padding:4vw;
}
/*children of opt-grps*/
.dashboard .ctrls .opt-grps .opt-grp-btn-cont{
	margin:1vw;
}
/*children of opts*/
.dashboard .ctrls .opts .opt-btn-cont{
	margin:5px;

}


/*CHILDREN OF SVGS-CONT*/
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont{
	height:calc(100vh - 70px - 20px);flex:100% 0 1;
 	transition: all 500ms ease-in 0ms;flex:100% 0 0;}
 /*70px -mobile url tab, 20px - scroll bar, 110px and 1vw - ctrls*/
 .dashboard .svg-wrapper .svgs-inner-cont .svg-cont.short{
 	height:calc(100vh - 70px - 20px - 110px - 1vw);
 }

.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.progress{
	
}
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.compare{
	
}

.dashboard .svg-wrapper .svgs-inner-cont .svg-cont .svg{
	width:100%;height:100%;
}

/*GENERAL BUTTONS*/
.dashboard button{
	width:60px;overflow:hidden;
}
/*CHART STYLES*/
.xAxisG{
	font:0.7rem times;
}
.yAxisG{
	font:0.7rem times;
}
.xLabel{
	font-size: 1rem;
}
.yLabel{
	font-size: 1rem;
}

