/*import '....'*/
/*COMPONENTS NOT FOR MS
specificity matters so need to say ctrls.not-ss*/
.dashboard .ctrls.not-ms{display:none;}

/*dashboard----------------------------------------------------*/
.dashboard{
	display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{
	width:100%;height:calc(100vh - 70px);/*todo ----------change to auto*/
	display: flex; align-items: stretch;flex-direction: row}

/*CHILDREN OF SVG-WRAPPER*/
.dashboard .svg-wrapper .show-ctrls{ position:absolute;top:5;left:0;}

.dashboard .ctrls{
	margin-top:40px; width:0;display:flex;flex-direction: column;justify-content: flex-start;
	transition: width 500ms ease-in 0ms;overflow:hidden;}
.dashboard .ctrls.open{width:130px;}

/*may need to put a condiitonal open classname below, with width specideid accordingly*/
.dashboard .svg-wrapper .svgs-outer-cont{
 /*flex:60% 3 1;*/flex:70% 3 1;/*height:calc(100vh - 70px)*/;overflow:auto;
 display:flex;justify-content: center;
	transition: all 500ms ease-in 0ms;}

.dashboard .svg-wrapper .svgs-inner-cont{width:95%;
	display:flex;height:98%;
	transition: all 500ms ease-in 0ms;}

/*CHILDREN OF CTRLS-CONT*/
.dashboard .ctrls .opt-grp-ctrls{
	margin:1vh;list-style: none;

}
/*children of opt-grp-ctrls*/
.dashboard .ctrls .opt-grp-ctrls .opt-grp-btn{

}
.dashboard .ctrls .opt-grp-ctrls .opts{
	margin:3vh;margin-left: 15px;display:flex;flex-direction: column;list-style: none;

}
/*children of opts*/
.dashboard .ctrls .opt-grp-ctrls .opts .opt-btn-cont{
	margin:5px;

}
/*children of opt*/
.dashboard .ctrls .opt-grp-ctrls .opts .opt-btn{

}


/*CHILDREN OF SVGS-CONT*/
/*note - each svg has height equal to screen height - header also take an extra 20px off
so scroll doesnt appear when just 1*/
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont{
 	height:100%;flex:100% 0 0;/*height:calc(100vh - 70px - 20px);*/
	transition: all 500ms ease-in 0ms;}

.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.scatter{
	flex:100% 0 0;
}
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.beeSwarm{
	flex:100% 0 1;min-width: 50%;
}


/*CHILDREN OF SVG-CONT*/
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont .svg{
	width:100%;height:100%;
	
}

/*GENERAL BUTTONS*/
.dashboard button{
	width:80px;padding:0.5vh;overflow:hidden;
}

/*CHART STYLES*/
.xAxisG{
	font:0.85rem times;
}
.yAxisG{
	font:0.85rem times;
}
.xLabel{
	font-size: 1rem;
}
.yLabel{
	font-size: 1rem;

}