/*import '....'*/
/*COMPONENTS NOT FOR LS
specificity matters so need to say ctrls.not-ss*/
.dashboard .ctrls.not-ls{display:none;}
/*dashboard----------------------------------------------------*/
.dashboard{
	display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{
	width:100%;height:80vh;position:relative;
	display: flex; align-items: stretch;flex-direction: row;}
/*CHILDREN OF SVG-WRAPPER*/
.dashboard .svg-wrapper .show-ctrls{ position:absolute;top:0;left:0;}

.dashboard .ctrls{margin-top:10vh;
	width:0;display:flex;flex-direction: column;
	transition: width 500ms ease-in 0ms;overflow:hidden;}
.dashboard .ctrls.open{width:130px;}

.dashboard .svg-wrapper .svgs-outer-cont{
 /*flex:60% 3 1;*/flex:70% 3 1; height: 95%;overflow:auto;
  display:flex;justify-content: center;
	transition: all 500ms ease-in 0ms;}

.dashboard .svg-wrapper .svgs-inner-cont{
	display:flex;height:98%;width:95%;transition: all 500ms ease-in 0ms;}

/*CHILDREN OF CTRLS-CONT*/
.dashboard .ctrls .opt-grp-ctrls{
	margin:10px;list-style: none;

}
/*children of opt-grp-ctrls*/
.dashboard .ctrls .opt-grp-ctrls .opt-grp-btn{

}
.dashboard .ctrls .opt-grp-ctrls .opts{
	margin-left: 10px;display:flex;flex-direction: column;list-style: none;

}
/*children of opts*/
.dashboard .ctrls .opt-grp-ctrls .opts .opt-btn-cont{
	margin:5px;

}
/*children of opt*/
.dashboard .ctrls .opt-grp-ctrls .opts .opt-btn{

}


/*CHILDREN OF SVGs-CONT*/
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont{
 	height:100%;flex:100% 0 1;/*height:calc(80vh - 20px);*/
	transition: all 500ms ease-in 0ms;}
	
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.scatter{
	flex:100% 0 0;
}
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont.beeSwarm{
	flex:100% 0 1;min-width: 33.3%;
}

/*CHILDREN OF SVG-CONT*/
.dashboard .svg-wrapper .svgs-inner-cont .svg-cont .svg{
	width:100%;height:100%;
}

/*GENERAL BUTTONS*/
.dashboard button{
	width:80px;overflow:hidden;
}

/*CHART STYLES*/
.xAxisG{
	font:1rem times;
}
.yAxisG{
	font:1rem times;
}
.xLabel{
	font-size: 1.4rem;
}
.yLabel{
	font-size: 1.2rem;

}



