/*import '....'*/

/*dashboard----------------------------------------------------*/
.dashboard{display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{width:100%;height:calc(100vh - 70px);}


/*CHILDREN OF SVG-WRAPPER*/
/*svg-cont*/
.dashboard .svg-wrapper .svg-cont.large{
	height:calc(100% - 70px);}
.dashboard .svg-wrapper .svg-cont.small{
	height:calc(100% - 160px);}
.dashboard .svg-wrapper .svg-cont{
	position:relative;}
.dashboard .svg-wrapper .svg-cont svg{
	position:absolute;}
/*ctrls-container*/
.dashboard .ctrls-container{
	display:flex;flex-direction: column;justify-content: flex-end;padding-bottom:10px;}
.dashboard .ctrls-container.full-height{
	height:160px}
.dashboard .ctrls-container.short-height{
	height: 70px;}

/*CHILDREN OF ctrls-container*/
.dashboard .ctrls-container .options{
	flex:67% 1 1;display: flex; justify-content: center;
	align-items: center;flex-wrap:wrap;}

/*buttons-container*/
.dashboard .ctrls-container .show-options-and-option-groups-container{
	flex:10vh 0 0;max-height: 10vh;min-height: 10vh;
	display: flex;justify-content: space-between;align-items:center;}


/*children of buttons-container*/
.dashboard .show-options-and-option-groups-container .show-options {flex:15% 1 1;}

.dashboard .show-options-and-option-groups-container .option-groups{
	flex:85% 1 1; display:flex; justify-content: flex-end;align-items: center;}

/*buttons*/
.dashboard .svg-wrapper .show-options-and-option-groups-container .show-options button{
	height:35px;max-height:35px;font-size:0.9rem;width:65px;padding:0;margin-bottom:10px;
}
.dashboard .ctrls-container button{margin:5px;}
.dashboard .ctrls-container .options button{
	flex:100px 0 0;min-width: 75px;max-width: 75px;height:45px;padding-top: 0;font-size:0.8rem;}
.dashboard .ctrls-container .option-groups button{
	flex:35px 0 0;width: 65px;font-size:0.8rem;
	margin:3px;padding-left:0;padding-right:0;text-align: center;}

/*ANIMATION*/
.dashboard .large-popup{width:300px;height:35px;padding:10px;font-size:1.1rem;}
.dashboard .small-popup{width:180px;height:25px;padding:5px;font-size:1.1rem;}
.popup{width:350px;height:3; font-size:1.1rem;padding:5px;border-radius: 5px 5px 5px 5px;}

/*ctrls popups*/
.dashboard .demo-ctrls{height:40px;z-index:1;}
.dashboard .demo-ctrls.centre{left:35%;top:50%;}
.dashboard .demo-ctrls.corner{left:10px;top:15px;}

.dashboard .demo-ctrls button{height:40px;width:60px;margin-left:0.5vw;margin-right: 0.5vw;
	font-size:1rem;padding:5px;}
.dashboard .demo-ctrls .pause-btn{width:80px;}
.dashboard .demo-ctrls .start-stop-button{width:60px;height:40px;}

/*other popups*/
.dashboard .real-values-popup{top:65%;left:5%;width:200px;height:60px;
}
.dashboard .proj-values-popup{top:45%;right:5%;width:200px;height:60px;
}
.dashboard .zones-popup{top:25%;left:10%;width:80%;height:100px;
}
.dashboard .welcome-popup{top:50%;left:10%;}
/*need fine grain control over each button-popup*/
/*.dashboard .button-popup{top:-50px;right:0px;}*/
.dashboard .show-options-popup{top:-40px;}
.dashboard .players-button-popup{top:-150px;right:5px;}
.dashboard .fitness-button-popup{top:-150px;right:-65px;}/*shifted by length of button so it stays in same place*/
.dashboard .skills-button-popup{top:-150px;right:-135px;}
.dashboard .compare-popup{top:15px;left:10px;width:300px;height:70px;}





/*not dashboard
I ont get why menu-item-cont is the reference div as its position:relative*/
.menu-item-cont{position:relative;} 
.submenu-button-popup{right:-80px;top:60px;z-index:300;}
/*.dashboard .popup.unattached{position:absolute;}
.dashboard .popup.unattached{}*/

/*note - there is an issue about specificity when an element has conflicting values*/
.dashboard .not-ss{display:none;height:0;max-height:0;flex:0 0 0;}


