.not-ls{display:none;}

.page .page-background-cont.with-header{height:calc(88vh + 200px);top:calc(12vh - 200px);} /*height kept to screen so video fits in*/
.page .page-background-cont.without-header{height:100vh;top:0px;}
.page .page-background-cont.dashboard{
  background-image: url("./home-dark-cropped-16-9.png");
}


.page .header{height:14vh;padding:1vh;}


.header .logo-cont{
  height:10vh;margin-top:1.5vh;margin-left:1vw;}


.header .logo-cont.zero-height{height:0;}
.header .logo-cont img{height:100%;width:auto;}
.page .header .menus-cont{
  flex:900px 0 1;height:100%;display:flex;flex-direction: column;align-items: flex-end;}
/*PAGE CONTENT*/
/*HOME*/
/*content - flexible depending on whats inside*/
.page .content{min-height:84vh;}
.page .content .home{position: relative;}

/*VIDEO LINK*/
.page .content .vidLink{
  position:absolute;top:20px;right:20px;height:65px;width:65px;
  /*background-color: #ffa530;*/color: white;z-index:100;
}

/*USER-HOME*/
.page .content .user-home{}
/*padding bottom for black line*/
.page .content .user-home .screen-fit{
  height:80vh;display:flex;flex-direction: column;justify-content: space-between;
  align-items:center;}

/*children of screen-fit*/
.user-home .screen-fit .row-1{
  flex:25% 1 1;
    margin-left: 2vw;align-self:flex-start;display:flex;flex-direction: column;
    justify-content:stretch; align-items:flex-start;}

.user-home .screen-fit .row-2{
  flex:40% 1 1;
    margin-left: 2vw;display:flex; justify-content:center; align-items:center;}
.user-home .screen-fit .row-3{
  flex:20% 0 0;margin-bottom:100px;align-self:stretch;
}

/*children of row-1*/
.user-home .welcome-mesg{margin:5%;margin-left:0;font-size:1rem;color:white;}
.user-home .profile-cont{}

/*children of row-3*/
.user-home .screen-fit .links-outer-cont{
  display: flex;justify-content: center;}
.user-home .links-cont{display:flex;flex-direction: column; justify-content: space-around;align-items:center; margin:2%;}
.user-home .links-cont .links-title{align-self:flex-start;color:white;font-size: 1.5rem;}
.user-home .links-cont .links{display:flex;justify-content: space-around;margin:2.5%;}
.user-home .links button{margin:10px;width:100px;height:50px;font-size:0.9rem;}
.user-home .view-links button{}
.user-home .creation-links button{background-color: blue;}

/*children of home*/
.home .intro-banner{
display:flex; flex-direction: column; justify-content: flex-end;align-items: flex-start;margin-right:2%;
  align-self: flex-start;margin-left: 2%;margin-top: -10vh;}
/*position relative so absolutely postioned background is contained*/
.home .sections{flex:30vh 0 0;display:flex;justify-content: space-around;}

/*children of intro-banner*/
.home .intro-banner .motto{margin-top:1%;margin-left:5px;}
.home .intro-banner .about-intro{margin-right:3vw; margin-top: 3vh;
  display:flex; flex-direction: column;}
.home .intro-banner .about-intro button{margin-top:1vh;align-self:flex-end;}
.home{display: flex; flex-direction: column;justify-content:space-around; align-items: center; height:88vh;}

/*children of section*/
.home .sections .section{margin:5%;padding:2%;flex: 30vw 1 0; max-height: 200px;max-width:350px;
  position:relative;display: flex;
  flex-direction: column;justify-content: flex-start;
	border-radius: 8px 8px 8px 8px; border:solid;border-color: white;border-width: thin;
  background-color:rgba(0, 0, 0, 0.5);} /*translucent background color- faded black*/
.home .section.reports{}
.home .section.targets{}
.home .section.news{}

/*children of section*/
.home .section .banner{flex: 70% 1 1; display:flex;flex-direction: column;align-items: center;}
.home .section .section-content{flex:30% 1 1; display:flex;align-items: center;
  justify-content: center;margin-top:1vh;margin-bottom:1vh;}
.home .sections .section-content button{height:40px;margin-left:1vw;margin-right: 1vw;}


/*children of .key-message*/
.home .section .banner .title{margin:1.5vw;margin-top: 1vh;margin-bottom: 0.5%;}
.home .section .banner .mesg{margin:1.5vw;margin-top:0;margin-bottom: 1vh;text-align:center;}
/*children of section-content*/
.home .section .section-content .heading-area{display:flex;flex-direction: column;
  justify-content: space-around;}
.home .section .section-content .heading{margin:1vh;}
.home .section .section-content .subheading{margin: 0.5vh;}
.home .section .section-content .text{align-self: stretch;margin:0.5vh;}
.home .section .section-content .btn{margin:0.5vh;width:125px;}

/*ABOUT*/
.about section{
  margin:2%;margin-top: 0;margin-bottom: 0;
}
.about .welcome .welcome-img{float:left;margin:2%;height:60vh;width:25vw;
  min-width:270px;overflow: hidden;}
.about .welcome .welcome-img img{height:100%;}
