.not-ms{display:none;}

.page .page-background-cont.with-header{height:calc(84vh + 270px);top:calc(16vh - 270px);}
.page .page-background-cont.without-header{height:calc(100vh + 270px);top:-270px;}
/*
note - if tablet eg ipad, the ratio is actually 4:3 not 16:9,
but most phones are 16:9
https://28b.co.uk/ios-device-dimensions-reference-table/
*/
.page .page-background-cont.dashboard{
  background-image: url("./home-dark-sky-16-9.png");
}

.page .header.full-height{height:16vh;padding:1vh;}
.page .header.zero-height{height:0;padding:0vh;}


.header .logo-cont{margin-top:1.5vh;margin-left:1vw;position:absolute;left:0;top:10%;
	height:10vh;overflow:hidden;}

.header .logo-cont.zero-height{height:0;}
.header .logo-cont img{height:100%;width:auto;}


/*PAGE CONTENT*/
.page .content{min-height:84vh;}

/*VIDEO LINK*/
.page .content .vidLink{
  position:absolute;bottom:60px;right:5px;height:60px;width:60px;
  /*background-color: #ffa530;*/color: white;z-index:100;
}
.page .content .vidLink-dashboard{
	bottom:20px;right:5px;
}

/*HOME*/
.page .content .home{min-height:84vh;position: relative;
	display: flex;flex-direction: column;justify-content: space-between;}


/*USER-HOME*/
.page .content .user-home{}
/*note - we only allow screen-fit to expand below screen for ms
to allow wrapping */
.page .content .user-home .screen-fit{
	height:calc(80vh - 70px);display:flex;flex-direction: column;justify-content: space-between;
	align-items:center;}

.user-home .row-1{
	align-self:flex-start;flex:50% 1 1;display:flex;align-items:center;margin:10px;}
.user-home .row-2{
	flex:50% 1 1;display:flex;justify-content: center; align-items:center;flex-wrap: wrap;}


/*children of row-1*/
.user-home .row-1 .welcome-mesg{margin:5%;margin-left:2%;font-size:1rem;color:white;}
.user-home .row-1 .profile-cont{}



.user-home .links-outer-cont{
	flex:50% 1 1;width:100%;
	display: flex;justify-content: center; align-items: flex-start;flex-wrap: wrap;
	margin:2vh;margin-top:0;}
.user-home .links-cont{display:flex;flex-direction: column; justify-content: space-around;align-items:center;
 margin:5%;margin-top:0;margin-bottom:0;}
.user-home .links-cont .links-title{align-self:flex-start;color:white;font-size: 1.2rem;}
.user-home .links-cont .links{display:flex;justify-content: space-around;margin:5%;margin-left:0;}
.user-home .links button{margin:5px;width:90px;height:30px;}
.user-home .view-links button{}
.user-home .creation-links button{background-color: blue;}


/*children of home*/
.home .intro-banner{display:flex; flex-direction: column; justify-content: flex-start;align-items: flex-start;
	 margin: 2%;margin-top:1.5%;}
.home .sections{display:flex;justify-content: space-around;
padding-bottom: 10vh;}


/*children of intro-banner*/
.home .intro-banner .motto{display:flex;justify-content: flex-start;}
.home .intro-banner .motto div{margin-right: 5px;}

/*children of sections*/
/*position relative so absolutely postioned background is contained*/
.home .sections .section{flex:45vw 0 0;min-width: 40vw;max-width: 40vw; 
	position:relative;
	display: flex;flex-direction: column;justify-content: flex-start;border:solid;border-color: white;
	border-radius: 5px 5px 5px 5px;border-width: thin;margin:2vw;padding:5px;
	background-color:rgba(0, 0, 0, 0.5);}

/*children of section*/
.home .section .banner{flex: 60% 1 1; display:flex;flex-direction: column;align-items: center;}
.home .section .section-content{flex:40px 0 0;max-height:40px;min-height:40px; display:flex;align-items: center;justify-content: center;
	border-radius: 0px 0px 5px 5px;}
.home .section .section-content button{height:40px;margin-left:1vw;margin-right: 1vw;}


/*children of .key-message*/
.home .section .banner .title{margin:1.5vw;margin-top: 1vh;margin-bottom: 0.5%;}
.home .section .banner .mesg{margin:1.5vw;margin-top:1vh;margin-bottom: 1vh;}







/*children of content*/
.home .section .section-content .heading-area{display:flex;flex-direction: column;
  justify-content: space-around;}
.home .section .section-content .heading{margin:1vh;}
.home .section .section-content .subheading{margin: 0.5vh;}
.home .section .section-content .text{align-self: stretch;margin:0.5vh;}
.home .btn{margin:0.5vh;width:110px;height:30px;padding-top:0;}

/*ABOUT*/
.about .welcome .welcome-img{max-height:40vh;width:100%;overflow: hidden;}
.about .welcome .welcome-img img{width:100%;height:auto;}


