/*import '....'*/
@import url("main-small.css") all and (max-width:500px);
@import url("main-med.css") all and (min-width: 501px) and (max-width: 979px);
@import url("main-large.css") all and (min-width:980px);

@import "../fonts.css";
@import "../colors.css";
@import "../buttons.css";
@import "../menus/menus.css";
@import "../dashboard/dashboard.css";
@import "../user/user.css";
@import "../group.css";
@import "../transitions.css";
@import "../util.css";

html,body{height:100%;}
/*GENERAL SETTINGS*/
/*media queries*/
.ss1only{
  display:none;
}
body, p, div, span, h1, h2, h3, h4, h5, h6, section, ul, table, tbody, tr{
    margin:0;padding: 0;border:0;}
body{background-color: black;}

.page{width:100%;display:flex;flex-direction: column;align-items: stretch;}

/*PAGE BACKGROUND*/
.page .page-background-cont{position:absolute;width:100vw;z-index:-100;
  background-image: url("./home-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
.page .page-background-cont .page-background-vid {
  width:100%;
}
.page .content .vidLink .vidLinkIcon{
  height:100%;width:100%;
}

/*PAGE SECTIONS*/
.page .header{display:flex;justify-content: space-between;background-color: black;position:relative;}
.page .content{
	position:relative;
	padding-left:2vw;padding-right: 2vw;padding-top: 2vw;padding-bottom: 2vw;}
.page .footer{min-height:200px;background-color: grey;}

/*PAGE CONTENT*/

/*HOME*/
.page .content .home{position: relative;}

/*USER-HOME*/
.page .content .user-home{}
.page .content .user-home .screen-fit{/*height:responsive*/display:flex;flex-direction: column;
  justify-content: flex-start;align-items:center;/*position: relative;*/}



/*DOESNT WORK AS IT MOVES TEH CHART OR STOPS IT DISPLAYING - using background-image instead
.page .page-background-cont .page-background-img{height:100%;}*/

.home .section .banner:hover{cursor:pointer;text-decoration: underline solid #5fed01;z-index:1;}
.home .sections .section button{background-color: #ffa530;}
.home .section .banner .mesg{text-align:center;}
.home .section button{min-width: 80px;}

/*ABOUT*/
.about{background-color: white;height:85vh;margin-bottom: 2%; overflow-y:scroll;}
.about section{padding:5%;padding-top: 0;}
.about section ul{margin-bottom:1%;margin-left: 15px;}
.about section p{margin-bottom:1%;}
.about section .heading{margin-bottom: 1%;}
.about section .sub-heading{margin-bottom: 1%;}

.about .welcome .signature-area{display:flex;flex-direction: column;}
.about .welcome .signature-area .name{margin-bottom:0.5%;}
.about .welcome .text{padding: 2.5%; margin:2%;color:black;background-color: white;}
.floated-image.right{float:right;}
.floated-image.left{float:left;}
.floated-image{margin:2%;}

.mind{}
.contact{height:90vh;}
.contact-content{padding:3vh;}
.contact h2{}



