/*THIS FILE DEALS WITH COLORS, OVERFLOWS, TEXTDECORATION, TEXT-ALIGN, Z-INDEX, CURSOR, EXCEPT IF THEY ARE IN :HOVER CLASSES;
IT DOES NOT DEAL WITH TEXT-WRAPPING, DISPLAY:NONE OR OPACITY*/

/*import '....'*/
/*colors
red - #e66529
orange - #ffa530
green - #b52e24
https://www.sessions.edu/color-calculator/
*/
html,body{/*overflow: hidden;  gets rid of scroll bar*/}
.label{color: red;}
.btn{background-color: #ffa530; }
.btn-primary{background-color: #ffa530; }
/*children of page template*/
/*.home-image-cont{z-index:1; overflow:hidden;} not used anymore*/
/*children of home-content*/
.home .intro-banner .motto{color:white;}
.home .section .background{z-index:1;background-color: black;}
.home .section .content{z-index:2;}
/*children of .banner*/
.home .section .banner {z-index: 2;}
.home .section .banner .title{color:#ffa530;}
.home .section .banner .mesg{color:white;}
/*children of home-section*/
.home .section .content .heading{color:black;text-align: center;}
/*children of home-section-content*/
.home .section .content .subheading{color:white;text-align: center;}
.home .section .content .text{color:white;text-align:left;}
/*children of intro-banner*/s
.home .intro-banner .motto{color:#5fed01;}
.home .intro-banner .about-intro{color:#5fed01;}
.home .intro-banner .about-intro p{color:#5fed01;}

.contact{background-color: white;}
.about{background-color: white;}

