/*MAIN*/
p, ul{font-size:1.1rem;}
/*GENERAL*/
.main-page .heading{font-size: 2rem;}
.main-page .subheading{font-size: 1.5rem;}

/*CORE*/
@font-face { font-family: DreamMMA; src: url('/../DreamMMA.ttf'); } 
@font-face { font-family: DRAGZ; src: url('/../62DRAGZ.ttf'); } 
.home .intro-banner .logo-player-gains{
	font-family:sans-serif;font-weight: bold;/* 'Holtwood One SC', serif;*/color:#ffa530;font-size: 2rem;
}
.home .intro-banner .motto div{font-family:sans-serif;font-weight: bold;font-size:1.1rem;}
.home .intro-banner .about-intro{font-family:sans-serif;font-weight: bold;}
.home .intro-banner .about-intro p{font-size:1.5rem; font-family:sans-serif;font-weight: bold;}
.home .section .banner .title{font-size: 1.4rem;}
.home .section .banner .mesg p {font-size: 1rem;}
.home .section .content .heading{font-size:1.1rem;}
.home .section .content .subheading{font-size:1rem;}
.home .section .content .text{font-size:1rem;}
.about section p{font-size:1rem;}
.about section .heading{font-size: 1.3rem;}
.about section .sub-heading{font-size: 1.1rem;}
.about .welcome .signature-area h3{font-size:1.3rem;}

