
/*other transitions*/
.slide-in-med-left{
  /*transition:all 400ms ease-in-out 01ms*/
  /*put as all for now as couldnt work out rep-content what was sliding*/
}
.fade-in-vfast{
  transition:opacity 100ms ease-in 01ms;
}
.fade-in-fast{
  transition:opacity 200ms ease-in 01ms;
}
.fade-in-med{
  transition:opacity 800ms ease-in 01ms;
}
/*TRANSITIONS*/
/*appearing smoothly*/
.eased-in-fast{
 transition: opacity 200ms ease-in 0ms;
 
}
.eased-in-med{
 transition: opacity 400ms ease-in 0ms;
 
}
.eased-in-slow{
 transition: opacity 800ms ease-in 0ms;
 
}
.show{
opacity:1;
}
.hide{
opacity:0;
}
.not-displayed{
display:none;
}
/*LEGACY EASE-IN CLASSES*/
.eased-in-text{
 transition: opacity 200ms ease-in 0ms;
 
}
.eased-in-block{
 transition: opacity 400ms ease-in 0ms;
 
}
.enlarging{
transition: font-size 500ms ease 100ms;
}
.enlarged{
font-size: 4.5rem;
}