.player-snap{
  height:100%;
  display:flex;
  background-color: white; border:solid; border-style:groove;
}
/*vert snap*/
.player-snap.vert{flex-direction: column; align-items: stretch;}
/*photo*/
.player-snap.vert .photo{
  flex:50% 0 0;width:100%;text-align: center;overflow:hidden;}
.player-snap.vert .photo img{
  width:100%;height:auto;}
  /*info*/
.player-snap.vert .info{flex:50% 0 0;padding:10%;display:flex;flex-direction: column;
	justify-content: space-around;}
.player-snap.vert .info .primary-info{flex:40% 1 1;	
	display: flex;flex-direction: column;justify-content: space-around;}
.player-snap.vert .info .secondary-info{flex:40% 1 1; margin-bottom: 2%;
	display: flex;flex-direction: column;justify-content: space-around;}

.player-snap.vert .info .primary-info .info-item{
  font-size: 0.9rem;display:flex;flex-direction: column;justify-content: space-around;;}
.player-snap.vert .info .secondary-info .info-item{
  font-size: 1rem;display:flex;}
.player-snap.vert .info .primary-info .info-item.name{
  font-size: 1.25rem;margin-bottom: 2%;}
  /*margin between label and value*/
.player-snap.vert .info .secondary-info .info-item .label{
  margin-right:5%;}

/*horiz snap*/
.player-snap.horiz{align-items: stretch;}
/*photo*/
.player-snap.horiz .photo{
  flex:50% 0 0;height:100%;text-align: left;overflow:hidden;}
 .player-snap.horiz .photo img{height:100%;width:auto;}
 /*info*/
.player-snap.horiz .info{flex:50% 0 0;padding:10%;padding-left: 5%;padding-right: 5%; display:flex;
  	flex-direction: column;justify-content: space-around;}
.player-snap.horiz .info .primary-info{flex:40% 1 1;	
	display: flex;flex-direction: column;justify-content: space-around;}
.player-snap.horiz .info .secondary-info{flex:40% 1 1; margin-bottom: 2%;
	display: flex;flex-direction: column;justify-content: space-around;}

.player-snap.horiz .info .primary-info .info-item{
  font-size: 1rem;display:flex;flex-direction: column; justify-content: space-around;}
.player-snap.horiz .info .secondary-info .info-item{
  font-size: 1rem;display:flex;flex-direction: column; justify-content: space-around;}
.player-snap.horiz .info .primary-info .info-item.name{
  font-size: 1.25rem;margin-bottom: 2%;}
/*move values in*/ 
.player-snap.horiz .info .secondary-info .info-item .value{
  align-self: center;
}